.no-padding {
    padding: 0 !important;
}

.height-all {
    height: 100%;
}

.vertical-scroll {
    overflow-y: scroll;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fast-transition {
    -webkit-transition: height 0.05s;
    -moz-transition: height 0.05s;
    -ms-transition: height 0.05s;
    -o-transition: height 0.05s;
    transition: height 0.05s;
}