/*
    Nav
*/
nav.navbar-playerDetails .playerName {
    display: inline
}

.navbar-playerDetails .navbar-brand,
.navbar-playerDetails .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

/*
    Player list
*/

.player-list .player-img {
    display: inline;
}

.player-list .player-name {
    display: inline;
}

/*
    Moves list
*/

/*
div.playerMovesLists li.list-group-item {
    min-height: 55px
}
*/

div.playerMovesLists li.list-group-item span.badge {
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent
}

/*
    Loading..
*/

.player-details-loading {
    margin-bottom: 10px;
}

/*
    Buttons
*/
[data-button] {
    display: inline;
    margin: 0 7px 0 0;
}

[data-button='p'] {
    margin: 0 -1px 0 -9px;
}

@media (max-width: 590px) {
    div.playerMovesLists li.list-group-item span.badge {
        display: none !important;
        visibility: collapse !important;
    }
}

@media(min-width: 591px){
    .buttons-inlined {
        display: none !important;
        visibility: collapse !important;
    }
}