<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ps.mkmoves" version="1.24.1">
    <name>MK Moves</name>
    <description>
        Mortal Kombat 9 moves guide
    </description>
    <author email="pablocompagni@gmail.com" href="http://cordova.io">
        Pablo Compagni
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
