<li class="list-group-item">
    <span class="badge" data-bind="foreach: { data: buttons, as: 'button' }">
        <mk-button params="viewModel: button"></mk-button>
    </span>

    <h5 class="list-group-item-heading" data-bind="text: name">
    </h5>

    <p class="list-group-item-text" data-bind="visible: damage, text: formattedDamage">
    </p>

    <p class="list-group-item-text" data-bind="visible: hits, text: formattedHits">
    </p>

    <p class="list-group-item-text" data-bind="visible: position, text: formattedPosition">
    </p>

    <div class="buttons-inlined" data-bind="foreach: { data: buttons, as: 'button' }">
        <mk-button params="viewModel: button"></mk-button>
    </div>
</li>